node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

gpt.txt
notes.txt
plan.txt
.prettierignore
.prettierrc

"src/routes/blog/[slug]/+page.ts"
"src/routes/blog/[slug]/+page.svelte"
src/routes/blog/2.md
src/routes/blog/1.md
src/routes/blog/+page.svelte
src/routes/blog/+page.ts
src/routes/api/posts/+server.ts
src/routes/blog/